<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="/icon.svg" type="image/svg+xml">

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <%= inertia_ssr_head %>

    <%# Hot reload in dev %>
    <%= vite_react_refresh_tag %>

    <%= vite_stylesheet_tag "application" %>
    <%= vite_typescript_tag "inertia" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
