<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta
      head-key="description"
      name="description"
      content="Benefactorum, association de bienfaiteurs est un site agrégeant toutes les associations d'intérêt général françaises."
    >
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag vite_asset_path('assets/logo.svg') %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%= inertia_ssr_head %>

    <%# Hot reload in dev %>
    <%= vite_react_refresh_tag %>

    <%= vite_stylesheet_tag "application" %>
    <%= vite_typescript_tag "inertia" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
